
@media screen and (min-width:200px) and (max-width:420px){
  #home{
    padding-top: 20px;
  }
  #menu_normal{/*esconde os itens*/
    display: none;
  }
  #menu_hamburguer{
    display: block;
  }
  /* Estilos para o menu hambúrguer quando ativado */
  .menu-aberto  #menu_normal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
button{
    margin-bottom: 20px;
}
/*sobre mim*/
.sobre_mim{
  height: 800px;
}
.sobre_info{
  padding-top: 150px;
}
.sobre_info h3{
  font-size: 1.3em;
}
.sobre_info p{
  font-size: 1.0em;
  width: 300px;
}
.sobre_img{
  margin-bottom: 70px;
}
.sobre_img img{
  height: 340px;
}
/*skills*/
.icones_skills i{
  font-size: 30px;
}
.h2_skills{
  font-size: 1.3em;
}
/*Projetos*/
.container_projetos{
  height: 2600px;
}
.img_projeto1{
  margin-top: 20px;
  width: 100%;
  height: 50%;
}
.img_projeto2{
  width: 100%;
  height: 50%;
}
.img_projeto3{
  width: 100%;
  height: 50%;
}
.img_projeto4{
  width: 100%;
  height: 50%;
}
.projetos{
  width: 350px;
  height: 620px;
  flex-direction: column;
}
.sobre_projeto{
  height: 50%;
}
.sobre_projeto h1{
  text-align: center;
}
.sobre_projeto p{
  text-align: center;
  width: 300px;
}
}
@media screen and (min-width:420px) and (max-width:767px){
  .sobre_info{
    padding-top: 150px;
  }
  .sobre_info h3{
    font-size: 1.5em;
  }
  .sobre_info p{
    font-size: 1.0em;
    width: 350px;
}
.sobre_img img{
  height: 360px;
}
/*skills*/
.icones_skills i{
  font-size: 40px;
}
.h2_skills{
  font-size: 1.6em;
}
/*Projetos*/
.container_projetos{
  height: 2200px;
}
.img_projeto1{
  width: 100%;
  height: 50%;
}
.img_projeto2{
  width: 100%;
  height: 50%;
}
.img_projeto3{
  width: 100%;
  height: 50%;
}
.img_projeto4{
  width: 100%;
  height: 50%;
}
.projetos{
  width: 400px;
  height: 530px;
  flex-direction: column;
}
.sobre_projeto{
  height: 50%;
}
.sobre_projeto h1{
  text-align: center;
}
.sobre_projeto p{
  text-align: center;
  width: 350px;
}
}
@media screen and (min-width:768px) and (max-width:1024px){
  .sobre_info{
    padding-top: 150px;
  }
  .sobre_info h3{
    font-size: 2.4em;
  }
  .sobre_info p{
    font-size: 1.3em;
    width: 500px;
}
.sobre_img{
  padding-bottom: 50px;
}
/*skills*/
.icones_skills{
  padding:40px;
}
.icones_skills i{
  font-size: 40px;
}
.h2_skills{
  font-size: 1.8em;
}
.skills{
  gap: 110px;
}
/*Projetos*/
.projetos{
  width: 700px;
}
.sobre_projeto p{
  width: 300px;
}
}
@media screen and (min-width:1025px) and (max-width:1440px){
  .sobre_info h3{
    font-size: 2.4em;
  }
  .sobre_info p{
    font-size: 1.3em;
    width: 500px;
}
.sobre_img img{
  height: 380px;
}
/*skills*/
.icones_skills{
  padding:40px;
}
.icones_skills i{
  font-size: 50px;
}
.h2_skills{
  font-size: 2.2em;
}
.skills{
  gap: 100px;
}
/*Projetos*/
.projetos{
  width: 900px;
}
}
@media screen and (min-width:1441px) {
    .sobre_info h3{
      font-size: 2.6em;
    }
    .sobre_info p{
      font-size: 1.3em;
      width: 500px;
  }
  /*skills*/
  .icones_skills{
    padding:45px;
  }
  .icones_skills i{
    font-size: 60px;
  }
  .h2_skills{
    font-size: 2.4em;
}
.skills{
  gap: 200px;
}
/*Projetos*/
.projetos{
  width: 900px;
}
}
