
@media screen and (min-width:200px) and (max-width:420px){
  #menu_normal{/*esconde os itens*/
    display: none;
  }
  #menu_hamburguer{
    display: block;
  }
  /* Estilos para o menu hambúrguer quando ativado */
  .menu-aberto  #menu_normal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
button{
    margin-bottom: 20px;
}
/*sobre mim*/
.sobre_mim{
  padding-top: 150px;
  gap: 60px;
}
.sobre_info{
  width: 300px;
}
.sobre_info h3{
  font-size: 1.6em;
}
.sobre_info p{
  font-size: 1.1em;
}
.sobre_img img{
  border-radius: 50%;
  height: 300px;
}
/*skills*/
.skills{
  gap: 25px;
}
.icones_skills i{
  font-size: 30px;
}
}
@media screen and (min-width:420px) and (max-width:767px){
  .sobre_mim{
    padding-top: 150px;
    gap: 60px;
  }
  .sobre_info h3{
    font-size: 1.9em;
  }
  .sobre_info p{
    font-size: 1.1em;
    width: 450px;
}
  .sobre_img img{
    border-radius: 50%;
    height: 300px;
}
/*skills*/
.icones_skills i{
  font-size: 40px;
}
}
@media screen and (min-width:768px) and (max-width:1024px){
  .sobre_info h3{
    font-size: 1.7em;
  }
  .sobre_info p{
    font-size: 1.0em;
    width: 450px;
}
  .sobre_img img{
    border-radius: 50%;
    height: 300px;
}
/*skills*/
.icones_skills i{
  font-size: 40px;
}
}
@media screen and (min-width:1025px) and (max-width:1440px){
  .sobre_info h3{
    font-size: 2.2em;
  }
  .sobre_info p{
    font-size: 1.3em;
    width: 500px;
}
  .sobre_img img{
    border-radius: 50%;
    height: 350px;
}
/*skills*/
.icones_skills i{
  font-size: 50px;
}
}
@media screen and (min-width:1441px) {
    .sobre_info h3{
      font-size: 2.6em;
    }
    .sobre_info p{
      font-size: 1.3em;
      width: 500px;
  }
  /*skills*/
  .icones_skills i{
    font-size: 60px;
  }
}
