/*
meus breakpoints 

Tablets:
Breakpoint: min-width: 768px e max-width: 1024px

Laptops e Desktops:
Breakpoint: min-width: 1025px e max-width: 1440px

Desktops Grandes (4K e telas maiores):
Breakpoint: min-width: 1441px
*/

@media screen and (min-width:200px) and (max-width:420px){
  
}
/*Telas celulares maiores*/
@media screen and (min-width:420px) and (max-width:767px){

}
/*Telas de Tablet:*/
@media screen and (min-width:768px) and (max-width:1024px){

}
/*Telas de desktop ou laptop: */
@media screen and (min-width:1025px) and (max-width:1440px){

}
/*Telas grandes */
@media screen and (min-width:1441px) {

}

