@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body,html{
    height: 100vh;
}
header{
    height: 500px;
    background-color: black;
}
nav{
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 80px;
}
nav a{
    color: white;
    text-decoration: none;
}