@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor-neutra-branca:#f5f5f5;
    --cor-preta:#171717;
    --cor-copyright:#0e0c0c;
    --cor-ciza:#a8a29e;
}
body,html{
    height: 100vh;
}
html{
    scroll-behavior: smooth;
}
menu{
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white; 
    z-index: 1000;
    height: 70px;
    justify-content:center;
    align-items: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); 
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    color:  #333;
}
nav a:hover{
    color: #1D8F6B;
}
#menu_hamburguer{
    display: none;
}
button {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: white;
    background: #00714E;
}
button:hover{
    transform: scale(1.007);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); 
}
main{
    height:auto;
}
.sobre_mim{
    height: 950px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
}
.sobre_mim div{
    
}
.sobre_info h3{
    color: white;
    font-family: "Noto Sans", serif;
}
.sobre_info p{
    color: white;
}
.sobre_img img{
    border-radius: 50%;
    height: 400px;
}
/*span com cores*/
.cor{
    color: #1D8F6B;
}

/*digitação*/
.digitando{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #1D8F6B; 
    animation: typing 3s steps(30, end) 1s forwards, blink-caret 0.75s step-end infinite;
}

/* Animação de digitação */
@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%; 
    }
}

/* cursor piscando */
@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.digitando{
    animation: typing 4s steps(30, end) 1s forwards, blink-caret 0.75s step-end infinite;
    animation-iteration-count: infinite;
    animation-delay: 3s; 
}
/*skills*/
.container_skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
}
.h2_skills{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.icones_skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.274);
    padding: 30px;
    border-radius: 15px;
    transition: transform 0.3s ease;
}
.icones_skills p{
    padding-top: 15px;
    text-align: center;
}
.icones_skills:hover{
    transform: scale(1.2);
}

/*Projetos*/
.container_projetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: black;
    height: 1850px;
}
.projetos{
    display: flex;
    background-color: rgb(37, 37, 37);
    height: 350px;
    width: 900px;
    border-radius: 5px;
    box-sizing: border-box;
}
/*texto e bootoes*/
.sobre_projeto {
    color: white;
    padding: 20px;
}
.sobre_projeto p{
    text-align: justify;
    width: 400px;
}
/*img*/
.img_projeto1{
    background-image: url(../imagem/Captura\ de\ tela\ 2024-11-17\ 194227.png);
    height: auto;
    width: 50%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.img_projeto2{
    background-image: url(../imagem/Captura\ de\ tela\ 2024-11-17\ 194336.png);
    height: auto;
    width: 50%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.img_projeto3{
    background-image: url(../imagem/Captura\ de\ tela\ 2024-11-17\ 194507.png);
    height: auto;
    width: 50%;
    background-size: cover;
    background-position:left;
    border-radius: 5px;
}
.img_projeto4{
    background-image: url(../imagem/Captura\ de\ tela\ 2024-11-17\ 204722.png);
    height: auto;
    width: 50%;
    background-size: cover;
    background-position:left;
    border-radius: 5px;
}
.botoes_projeto{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.botoes_projeto button{
    transition: all 0.4s ease;
}
.botoes_projeto button:hover{
    background-color: white;
    color: black;
}
/*Contato*/
.contato_form{
    display: flex;
    align-items: center;
    height: 600px;
}
/*footer*/
footer{
    height: 220px;
    font-family: 'Inter',sans-serif;
    letter-spacing: 1px;
    width: 100%;
    color: var(--cor-neutra-branca);
}
/*container*/
#footer_container{
    background-color: var(--cor-preta);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3rem 3.5rem;
}
/*palavra logo*/
#footer_contatos h4{
    margin-bottom: 0.75rem;
}
/*container dos icones*/
#midias_sociais{
    display: flex;
    gap: 2rem;
}
/*links e icones*/
#midias_sociais .link_midias{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--cor-neutra-branca);
    border-radius: 50%;
    transition: all 0.4s;
}
/*configuração do link*/
#midias_sociais .link_midias{
    text-decoration: none;
}
#midias_sociais .link_midias:hover{
    opacity: 0.8;
}
/*tamanho do icone*/
#midias_sociais .link_midias i{
    font-size: 1.25rem;
}
/*icone em individual*/
#instagram{
    background: linear-gradient(#7f37c9, #Ff2992, #ff9807); 
}
#github{
    background: linear-gradient(135deg, #4d014d, #a020f0);
}
#linkedin {
    background-color: #0A66C2; 
}

#email {
    background-color: #5f6368; 
}
/*listas*/
.footer_lista{ /*para adiconar gap */
    display: flex;
    flex-direction: column;
    list-style: none;
}
/*links da parte de listas*/
.footer_lista .link_midias{
    text-decoration: none;
    color:var(--cor-ciza) ;
    transition: all 0.4s;
}
.footer_lista .link_midias:hover{
    color: #F15B43;
}
.link_midias:hover{
    transform: scale(1.1) translateY(-3px); 
    opacity: 0.9; 
}
/*copyright*/
#copyright{
    display: flex;
    justify-content: center;
    background-color:var(--cor-copyright);
    padding: 1.2rem;
}
/*media query só pra footer*/
@media screen and (max-width:968px){
    #footer_container{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}
@media screen and (max-width:626px){
    #footer_container{
        grid-template-columns: repeat(1,1fr);
        
    }
}